@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Monoton&family=Poiret+One&family=Rubik+Microbe&family=Supermercado+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
.displayImg {
    display: flex;
    max-width: 600px;
    max-height: 600px;
    margin: 20px auto;
    border: solid 7px;
    border-color: #2f2;
    border-radius: 40px;
}

.main-title {
        font-family: 'Fredoka One',
        cursive;
        font-size: 125px;
        text-align: center;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
        background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: animatedBackground 5s linear infinite;
        -moz-animation: animatedBackground 5s linear infinite;
        -webkit-animation: animatedBackground 5s linear infinite;
        -ms-animation: animatedBackground 5s linear infinite;
        -o-animation: animatedBackground 5s linear infinite;
}

.nav-meme {
        font-family: 'Fredoka One',
        cursive;
        font-size: 60px;
        text-align: center;
        color: black;
}

.nav-meme:hover {
    font-family: 'Fredoka One',
        cursive;
    text-align: center;
        background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.9, #ff2), color-stop(1, #f22));
        background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: animatedBackground 5s linear infinite;
        -moz-animation: animatedBackground 5s linear infinite;
        -webkit-animation: animatedBackground 5s linear infinite;
        -ms-animation: animatedBackground 5s linear infinite;
        -o-animation: animatedBackground 5s linear infinite;
        }

.nav {
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    // background-color: rgb(16, 243, 20);
    background: rgb(34, 255, 34);
    background: linear-gradient(42deg, rgba(34, 255, 34, 1) 30%, #ff00a6 100%);
    min-width: 100%;
    color: black;
    font-size: 30px;
}

body {
    background-color: rgb(24, 23, 23);
}
.btn:hover {
    color: white;
    background-color: #2f2 !important;

}

.form-control {
    color: white;
    font-size: 25px;
    background-color: black;
    border: solid 3px #2f2;
    border-radius: 20px;
    height: 100px;
}

.form-control:focus {
    color: white;
    background-color: black;
    border-color: #ff00a6;
}

.btn {
    font-family: 'Nunito', sans-serif;
    font-size: 25px;
    width: 200px;
    height: 100px;
    color: white;
    background-color: tomato;
    border: solid 7px;
    border-radius: 20px;
    border-color: darkred;

}
.memeCentralImage {
    max-width: 50%;
    max-height: 50%;
    object-fit: cover;
    border: 15px solid #2f2;
    border-radius: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    align-items: center;
    display: block;
}

.rainbow {
    font-family: 'Fredoka One', cursive;
    font-size: 100px;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animatedBackground 5s linear infinite;
    -moz-animation: animatedBackground 5s linear infinite;
    -webkit-animation: animatedBackground 5s linear infinite;
    -ms-animation: animatedBackground 5s linear infinite;
    -o-animation: animatedBackground 5s linear infinite;
}
@keyframes animatedBackground {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 500px;
    }
}

@-moz-keyframes animatedBackground {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 500px;
    }
}

@-webkit-keyframes animatedBackground {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 500px;
    }
}

@-ms-keyframes animatedBackground {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 500px;
    }
}

@-o-keyframes animatedBackground {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 500px;
    }
}
p, h1, h3, label, h4 {
    font-family: 'Fredoka One',
    cursive;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animatedBackground 5s linear infinite;
    -moz-animation: animatedBackground 5s linear infinite;
    -webkit-animation: animatedBackground 5s linear infinite;
    -ms-animation: animatedBackground 5s linear infinite;
    -o-animation: animatedBackground 5s linear infinite;
}

.card {
    border: 15px solid rgb(16, 243, 20);
    border-radius: 100px;
    background-color: black;
}

.headers {
    font-size: 80px;
}

.modal {
    font-size: 25px;
    color: white;
    border: solid 10px darkred;
}

.modal-content {
    font-family: 'Fredoka One',
    cursive;
    background-color: black;
    border: solid 6px #ff2;
    border-radius: 25px;
}

.modal-backdrop {
    background-color: black;
}